
# Misc project files
todo.md
*tmp*

# the actual git config
git/gitconfig.symlink

# dotfile vendor libs
vendor
vendor/*

# sublime settings
sublime/User/*
!sublime/User/*.sublime-settings
!sublime/User/*.sublime-keymap

# atom settings
atom/atom.symlink/.apm
atom/atom.symlink/.node-gyp
atom/atom.symlink/compile-cache
atom/atom.symlink/packages
atom/atom.symlink/storage
atom/atom.symlink/themes
