
# Misc project files
todo.md
*tmp*

# the actual git config
src/topics/git/gitconfig.symlink

# dotfile vendor libs
vendor
vendor/*

# sublime settings
src/topics/sublime/User/*
!src/topics/sublime/User/*.sublime-settings
!src/topics/sublime/User/*.sublime-keymap

# atom settings
src/topics/atom/atom.symlink/.apm
src/topics/atom/atom.symlink/.node-gyp
src/topics/atom/atom.symlink/projects.cson
src/topics/atom/atom.symlink/blob-store
src/topics/atom/atom.symlink/compile-cache
src/topics/atom/atom.symlink/packages
src/topics/atom/atom.symlink/recovery
src/topics/atom/atom.symlink/storage
src/topics/atom/atom.symlink/themes

# hammerspoon settings
src/topics/hammerspoon/hammerspoon.symlink/config.lua
src/topics/hammerspoon/hammerspoon.symlink/init-local.lua
src/topics/hammerspoon/hammerspoon.symlink/Spoons

# visual studio code settings
src/topics/vs-code/User/globalStorage
src/topics/vs-code/User/History
src/topics/vs-code/User/syncLocalSettings.json
src/topics/vs-code/User/workspaceStorage
