
# Misc project files
todo.md
*tmp*

# the actual git config
git/gitconfig.symlink

# dotfile vendor libs
vendor
vendor/*

# sublime settings
sublime/User/*
!sublime/User/*.sublime-settings
!sublime/User/*.sublime-keymap

# atom settings
atom/atom.symlink/.apm
atom/atom.symlink/.node-gyp
atom/atom.symlink/projects.cson
atom/atom.symlink/blob-store
atom/atom.symlink/compile-cache
atom/atom.symlink/packages
atom/atom.symlink/recovery
atom/atom.symlink/storage
atom/atom.symlink/themes

# hammerspoon settings
hammerspoon/hammerspoon.symlink/config.lua
hammerspoon/hammerspoon.symlink/init-local.lua
hammerspoon/hammerspoon.symlink/Spoons

# visual studio code settings
vs-code/User/globalStorage
vs-code/User/History
vs-code/User/syncLocalSettings.json
vs-code/User/workspaceStorage
