"*":
  "activate-power-mode":
    autoToggle: false
    screenShake: {}
  "atom-material-ui":
    panelContrast: true
  "autocomplete-paths":
    enableHtmlSupport: true
  core:
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "custom-title":
    template: "<%= projectName %><% if (relativeFilePath) { %> • <%= relativeFilePath %> <% } %> <% if (gitHead) { %> ‹<%= gitHead %>›<% } %>"
  editor:
    fontFamily: "Operator Mono, Fira Sans, Source Code Pro"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "b0906014-73da-d10c-12de-a343fd7f4e2a"
  "file-icons": {}
  linter: {}
  "linter-eslint":
    eslintrcPath: "~/.eslintrc"
  "linter-sass-lint":
    globalSassLint: true
    noConfigDisable: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "release-notes":
    viewedVersion: "0.81.0"
  "save-session":
    dataSaveFolder: "~/.atom/packages/save-session/projects"
  swackets:
    colorParens: true
    colorSquareBrackets: true
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "terminal-plus":
    ansiColors:
      normal:
        blue: "#268bd2"
        cyan: "#2aa198"
        green: "#859900"
        magenta: "#d33682"
        orange: "#cb4b16"
        red: "#dc322f"
        violet: "#6c71c4"
        yellow: "#b58900"
  "todo-show":
    sortBy: "Path"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
