packages: [
  "activate-power-mode"
  "atom-beautify"
  "atom-jade"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "auto-detect-indentation"
  "auto-update-packages"
  "autoclose-html"
  "autocomplete-paths"
  "busy-signal"
  "custom-title"
  "editorconfig"
  "emmet"
  "file-icons"
  "git-blame"
  "git-time-machine"
  "goto-definition"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "js-hyperclick"
  "language-apache"
  "language-bats"
  "language-javascript-jsx"
  "language-lua"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-js-yaml"
  "linter-luacheck"
  "linter-sass-lint"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-pigments"
  "open-recent"
  "package-sync"
  "php-hyperclick"
  "pigments"
  "pinned-tabs"
  "project-manager"
  "sort-lines"
  "Sublime-Style-Column-Selection"
  "swackets"
  "todo-show"
  "toggler"
  "wakatime"
]
