packages: [
  "activate-power-mode"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "auto-detect-indentation"
  "autoclose-html"
  "editorconfig"
  "emmet"
  "goto-definition"
  "highlight-selected"
  "language-lua"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-sass-lint"
  "minimap"
  "minimap-highlight-selected"
  "open-recent"
  "package-sync"
  "pigments"
  "pinned-tabs"
  "save-session"
  "sort-lines"
  "Sublime-Style-Column-Selection"
  "terminal-plus"
  "todo-show"
  "wakatime"
]
